@CHARSET "UTF-8";
body,html{
	height:100%;
	padding:0;
	margin:0;
	font-size:12px;
	overflow:hidden;
}
#header {
	width:198px;
	height:60px;
	background:url(../images/logo.png) no-repeat;
	margin:0 auto;
	position:relative;
	top:150px;
}
#main {
	text-align:center;
	position:relative;
	top:200px;
}
#login .text{
	background:#fff;
	margin:0 15px 0 0;
	width:250px;
	height:35px;
	font-family:Arial;
	border:none;
	text-indent:6px;
	font-size:16px;
	border-radius:4px;
}
#login span.password,#login span.username{
	position:relative;
}
#login #auto{
	position:absolute;
	top:35px;
	left:-150px;
	color:#fff;
	font-family:Arial;
	text-indent:6px;
	font-size:16px;
}
#login span label.error{
	position:absolute;
	right:30px;
	top:-10px;
	height:35px;
	line-height:35px;
	color:red;
}
#login .submit{
	background:url(../images/login_button.png) repeat-x left top;
	border:none;
	margin:0 0 5px 0;
	color:#fff;
	font-size:18px;
}
#login .submit:hover{
	background:url(../images/login_button_hover.png) repeat-x left top;
}
.bottom{
	width:400px;
	margin:0 auto;
	text-align:right;
}
.bottom a{
	color:#fff;
	text-decoration:none;
	font-size:16px;
	height:30px;
	text-shadow:3px 3px 3px #111;
	padding:0 10px;
	line-height:30px;
}
.bottom a:hover{
	text-decoration:underline;
}
#footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;
	opacity:0.4;
	background:#000;
	-moz-opacity:0.4;
	filter:alpha(opacity=40);
	text-align:center;
}
#footer_text{
	position:absolute;
	bottom:0;
	color:#fff;
	text-align:center;
	width:100%;
	height:50px;
	line-height:50px;
	font-size:14px;
	letter-spacing:1px;
	margin:0;
}
/*
jquery ui
*/
.ui-dialog{
	padding:0 !important;
	margin:0 !important;
	border:none !important;
	border-radius:0 !important;
	overflow:visible;
}
.ui-dialog-title{
	font-size:12px;
	line-height:32px;
	text-indent:10px;	
}
.ui-dialog-titlebar-close{
	border-radius:0 !important;
}
.ui-dialog-titlebar{
	background:url(../images/ui_header_bg.png) repeat-x left top !important;
	margin:0 !important;
	padding:0 !important;
	border:none !important;
	border-radius:0 !important;
	height:40px;
}

.ui-dialog-buttonset button{
	background:url(../images/button.png) repeat-x left top !important;
	border-radius:0 !important;
	border:none;
	color:#fff !important;
}
.ui-dialog-buttonset button:hover{
	background:url(../images/button_hover.png) repeat-x left top !important;
}
/*
邮箱自动补全
*/
.ui-menu-item a{
	height:30px !important;
	line-height:30px !important;
	width:100% !important;
	text-indent:5px !important;
	display:inline-block !important;
}
.ui-menu-item a.ui-state-focus {
	color:#036 !important;
	background:url(../images/menu_bg.png) !important;
}
#reg_form,#verify_form{
	padding:20px 0 0 0;
}
#reg_form p,#verify_form p{
	padding:10px 20px 0 20px;
	margin:0;
}
#reg_form p .text{
	height:25px;
	line-height:25px;
	border-radius:4px;
	width:200px;
	border:1px solid #ccc;
}
#verify_form p .text{
	width:175px;
	height:25;
	line-height:25px;
	border-radius:4px;
	padding:0;
	border:1px solid #ccc;
}
#verify_form p a{
	color:blue;
	padding:0 0 5px 0;
	display:block;
}
#verify_form p a:hover{
	text-decoration:underline;
}
.succ{
	background:url(../images/succ.png) no-repeat 2px center;
	display:inline-block;
	width:20px;
}
.loading{
	background:url(../images/loading_form.gif) no-repeat 2px center;
	display:inline-block;
	width:20px;
}
ol.errors{
	padding:0 40px;
	margin:0;
}
ol.errors li{
	height:20px;
	line-height:20px;
	color:red;
}
#loading{
	background:url(../images/loading.gif) no-repeat 20px center;
	line-height:25px;
	font-size:14px;
	text-indent:40px;
}
